<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Blue Earth Watching</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
	</head>
	<body>
		<header>
			<div id="header">Blue Earth Watching</div>
		</header>
		<div id="canvas"></div>
		<button id="sun_button"></button>
		<script src="/javascripts/three.min.js"></script>
		<script src="/javascripts/TrackballControls.js"></script>
		<script src="/javascripts/model.js"></script>
		
	</body>
</html>
